# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
# Create a tuple with the first 10 positive integers. Print the tuple.
tpl = (1,2,3,4,5,6,7,8,9,10)
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
#Print the first, middle, and last elements of the tuple created in Assignment 1.
print(tpl[0])
print(tpl[-1])
middle_element = len(tpl)//2
print(middle_element)

1
10
5

In [3]:
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [4]:
#Create a nested tuple representing a 3x3 matrix and print the matrix. 
#Access and print the element at the second row and third column.
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for row in matrix:
    print(row)
print(f'The element at the second row and third column is {matrix[1][2]}')

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
The element at the second row and third column is 6

In [5]:
#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)

concat = tpl1 + tpl2
print(concat)

(1, 2, 3, 4, 5, 6)

In [6]:
#Create a tuple with duplicate elements and count the occurrences of an element. 
#Find the index of the first occurrence of an element in the tuple.
s = (1,1,1,5,5,5,5,9,9,9)

print(f'The occurrences of 5 is {s.count(5)}')
print(f'The index of the first occurrence of an element {s.index(5)}')

The occurrences of 5 is 4
The index of the first occurrence of an element 3

In [7]:
#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
var = ( 1, 2, 3, 4, 5)
a, b, c, d, e = var
print(a, b, c, d, e)

1 2 3 4 5

In [8]:
#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
x=((1,2,3),(4,5,6),(7,8,9))

for tpl in x:
    print(tpl)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [9]:
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [10]:
#Create a tuple with the first 5 positive integers. 
#Convert it to a list, append the number 6, and convert it back to a tuple. 
#Print the resulting tuple.
p = (1,2,3,4,5)
s = list(p)
s.append(6)
p= tuple(s)
print(p)

(1, 2, 3, 4, 5, 6)

In [11]:
#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
str = "Hello World"
tpl = tuple(str)
joined_string = "".join(tpl)
print(joined_string)

Hello World

In [12]:
#Create a dictionary with tuple keys and integer values. Print the dictionary
dict = {
    (1,2):3,
    (4,5):6,
    (7,8):9
}
print(dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [1]:
#Create a nested tuple and iterate over the elements, printing each element.
nested_tpl =(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for tpl in nested_tpl:
    for element in tpl:
        print(element)

1
2
3
4
5
6
7
8
9

In [3]:
#Write functions that take a tuple and return the minimum, maximum, and sum of the elements. 
#Print the results for a sample tuple.
tpl=(1,2,2,3)
# print(max(r))
# print(min(r))
# print(sum(r))

def max_number(num):
    return max(num)

def min_number(num):
    return min(num)

def sum_number(num):
    return sum(num)

print(max_number(tpl))
print(min_number(tpl))
print(sum_number(tpl))

3
1
8