In [9]:
#syntax
def my_function():
    print("Hello from a function")

In [10]:
print("Hello from outside the function")
my_function()

Hello from outside the function
Hello from a function

In [ ]:
#syntax
def even_or_odd(num):
    """Find even or odd"""
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")

In [12]:
even_or_odd(10)

The number is even 10

In [13]:
def add(a,b):
    return a+b

In [14]:
add(14,31)

45

In [17]:
def hi(name = "Mate"):
    return "Hi "+name

In [19]:
hi("Abraham")

'Hi Abraham'

In [31]:
def num(*args):
    for numbers in args:
        print(numbers, end=" ")

In [32]:
num(2,3,4,5)

2 3 4 5

In [11]:
def print_details(*args,**kwargs):
    for i in args:
        print(f"Positional argument: {i}")
    for key, value in kwargs.items():
        print(f"Keyword argument: {key}: {value}")

In [13]:
print_details(1,2,3,"Krish",name="Abraham", age=23)

Positional argument: 1
Positional argument: 2
Positional argument: 3
Positional argument: Krish
Keyword argument: name: Abraham
Keyword argument: age: 23

In [1]:
def temp_conerter(temp, unit):
    if unit == "C":
        return (temp*9/5)+32
    elif unit == "F":
        return (temp-32)*5/9
    else:
        return "Invalid unit"

In [2]:
temp_conerter(32,"F")

0.0

In [1]:
2+2

4

In [3]:
even_or_odd = lambda num: "The number is even" if num%2==0 else "The number is odd"

In [4]:
even_or_odd(10)

'The number is even'

In [5]:
add = lambda a,b,c: a+b+c

In [6]:
add(1,2,3)

6

In [7]:
numbers = [1,2,3,4,5,6,7,8,9,10]
def num(sqaure):
    return sqaure**2
for i in numbers:
    print(num(i), end=" ")

1 4 9 16 25 36 49 64 81 100

In [11]:
a = (1,2,3,4,5,6,7,8,9,10)
list((map(lambda x: x**2,a)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
numbers = [1,2,3]
for i in numbers:
    print(i**2, end=" ")


print(list(map(lambda x: x**2, numbers)))

1 4 9 [1, 4, 9]

In [ ]:
name = "Yash"

In [ ]:
name.upper()

'YASH'

In [ ]:
def get_name(person):
    return person["name"]

In [16]:
def square(num):
    return num**2

In [17]:
square(2)

4

In [22]:
people = [{"name":"Yash", "age":23},
          {"name":"Krish", "age":24},
          {"name":"Abraham", "age":25}]

def get_age(person):
    return person["age"]

print(get_age)

<function get_age at 0x00000191371F69E0>

In [23]:
list(map(get_age, people))

[23, 24, 25]

In [24]:
def even(num):
    return num%2==0

In [25]:
lst = [1,2,3,4,5,6,7,8,9,10]
list(filter(even,lst))

[2, 4, 6, 8, 10]

In [ ]:
def grater_that_five(num):
    return num>5

In [27]:
list(filter(grater_that_five,lst))

[6, 7, 8, 9, 10]

In [29]:
lstt= [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
# def greater_than_ten(num):

list(filter(lambda num: num>10, lstt))

[11, 12, 13, 14, 15]

In [30]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
greater_than_five_and_even = list(filter(lambda x: x>=5 and x%2==0, numbers))

In [31]:
print(greater_than_five_and_even)

[6, 8, 10, 12, 14]

In [52]:
people = [{"name":"Yash", "age":23},
          {"name":"Krish", "age":52},
          {"name":"Abraham", "age":25},
          {"name":"Kelvin", "age":26}]

def greater_than_twenty_five(person):
    return person["age"]>25

age_greter_than_twenty_five = list(filter(greater_than_twenty_five, people))

for i in age_greter_than_twenty_five:
    print(f"Name: {i['name']}, Age: {i['age']}")

Name: Krish, Age: 52
Name: Kelvin, Age: 26

In [53]:
area_of_rectangle = (lambda x,y: x*y)

In [ ]:
round(area_of_rectangle(10.2,20.4),2)

208.08

In [ ]:
distance = lambda speed, time: speed*time

In [61]:
distance(10,2)

20

In [78]:
def temp_converter(num, unit):
    if unit == 'f':
        return (num-32)*0.56
    elif unit == 'c':
        return (num*1.8)+32
    else:
        return "Invalid"

In [81]:
temp_converter(12, 'f')

-11.200000000000001

In [ ]:
def lift_capacity(n, capacity):
    if  n%capacity == 0:
        return n//capacity
    elif n%capacity != 0:
        return n//capacity+1
    else:
        return 'None'

In [122]:
lift_capacity(12, 11)

2

In [123]:
def calculate_y(m,x,c):
    return m*x+c

In [124]:
calculate_y(2,3,4)

10