In [3]:
x = "true"
y = "true"

result= x and y
print(result)

true

In [7]:
x = False
not print(x)

False

True

In [5]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [6]:
name = "Yash Mundhe"
for i in name:
    print(i)

Y
a
s
h

M
u
n
d
h
e

In [9]:
i = 10
while i<20:
    print(i)
    i+=1

10
11
12
13
14
15
16
17
18
19

In [22]:
y=0
while y%2==0:
    print(y)
    y+=1

0

In [25]:
for i in range(30):
    if i>=15:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [2]:
for i in range(30):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [4]:
for i in range(11):
    if i == 2:
        print("The number is", i)
        pass
    print(i)

0
1
The number is 2
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(3):
    for j in range(2):
        print(f"i={i} and j={j}")

i=0 and j=0
i=0 and j=1
i=1 and j=0
i=1 and j=1
i=2 and j=0
i=2 and j=1

In [2]:
n=10
sum=0
count = 1
while count<=n:
    sum=sum+count
    count = count+1
    
print("Sum of first ",n," natural numbers is:", sum)

Sum of first  10  natural numbers is: 55

In [3]:
n=10
sum=0
for i in range(11):
    sum=sum+i
print("Sum of first ",n," natural numbers is:", sum)

Sum of first  10  natural numbers is: 55

In [1]:
for num in range(1,101):
    if num>1:
        for i in range(2, num):
            if(num%i)==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [1]:
ls = [2, 3]
print(ls)

[2, 3]

In [4]:
ls.append(4)
print(ls)

[2, 3, 4, 4, 4]

In [2]:
person = { "name": "Yash", "age": 23, "city":"Boston"}
print(person)

{'name': 'Yash', 'age': 23, 'city': 'Boston'}

In [3]:
print(person["city"])

Boston

In [4]:
person.get("age")

23

In [5]:
person["city"]= "New York"
print(person)
print(person.keys())
print(person.values())
print(person.items())
person["address"]= "USA"
print(person)

{'name': 'Yash', 'age': 23, 'city': 'New York'}
dict_keys(['name', 'age', 'city'])
dict_values(['Yash', 23, 'New York'])
dict_items([('name', 'Yash'), ('age', 23), ('city', 'New York')])
{'name': 'Yash', 'age': 23, 'city': 'New York', 'address': 'USA'}

In [6]:
person.update({"city": "LA"})

In [7]:
print(person)

{'name': 'Yash', 'age': 23, 'city': 'LA', 'address': 'USA'}

In [8]:
person.pop("address")
print(person)

{'name': 'Yash', 'age': 23, 'city': 'LA'}

In [9]:
person["address"]= "USA"
person.popitem()

('address', 'USA')

In [10]:
person["address"]= "USA"
print(person)

{'name': 'Yash', 'age': 23, 'city': 'LA', 'address': 'USA'}

In [11]:
person1 = person
print(person1)

{'name': 'Yash', 'age': 23, 'city': 'LA', 'address': 'USA'}

In [12]:
person["name"]= "Mundhe"
print(person1)
print(person)

{'name': 'Mundhe', 'age': 23, 'city': 'LA', 'address': 'USA'}
{'name': 'Mundhe', 'age': 23, 'city': 'LA', 'address': 'USA'}

In [23]:
person1= person.copy()
person["name"]= "Yash"
print(person1)
print(person)

{'name': 'Mundhe', 'age': 23, 'city': 'LA', 'address': 'USA'}
{'name': 'Yash', 'age': 23, 'city': 'LA', 'address': 'USA'}